<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Реєстрація</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <!-- Date Picker -->
    <link href="../../../resources/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="../../../resources/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${signupForm}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Реєстрація</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Невірний формат паролю</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
            <label for="firstName" class="col-lg-2 control-label">Ім'я</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Невірний формат імені</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
            <label for="lastName" class="col-lg-2 control-label">Прізвище</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Невірний формат прізвища</span>
            </div>
        </div>
        <div class="form-group">
            <label for="dateOfBirth" class="col-lg-2 control-label">Дата народження</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="dateOfBirth" placeholder="dateOfBirth" th:field="*{dateOfBirth}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Зареєструватися</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>Ви вже зареєстровані? <a href="signin" th:href="@{/signin}">Увійти</a></p>
            </div>
        </div>
    </fieldset>
</form>
<!-- daterangepicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
<script src="../../../resources/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- datepicker -->
<script src="../../../resources/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {

                $('#dateOfBirth').datepicker({
                    format: "dd/mm/yyyy"
                });

            });
        </script>
</body>
</html>